n8n/workflow_agendado_whatsapp.json
{
  "name": "BarberCloud: Agendado Automático via WhatsApp & GPT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barbercloud-whatsapp-webhook",
        "options": {}
      },
      "id": "1",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "9a1b9c8d-1234-abcd-efgh-ijklmnopqrst"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Eres el asistente virtual de BarberCloud, una barbería moderna. Tu trabajo es agendar citas por WhatsApp.\n\nEXTRACCIONES REQUERIDAS:\n1. Nombre del cliente\n2. Fecha solicitada (convertir a ISO: YYYY-MM-DD)\n3. Hora solicitada (formato 24h: HH:MM)\n4. Servicio (opciones: Corte, Barba, Combo)\n5. Barbero preferido (opcional)\n\nREGLAS:\n- Si algo no está claro, pregunta amablemente (máximo 2 veces)\n- Si después de 2 intentos no puedes ayudar, responde: {\"requiere_escalado\": true}\n- Mantén tono amigable pero profesional\n- Detecta variaciones: \"mañana\", \"el sábado\", \"la próxima semana\"\n\nFORMATO DE RESPUESTA OBLIGATORIO (SOLO JSON LÓGICO, NADA DE MARKDOWN):\n{\n  \"nombre\": \"Juan Pérez\",\n  \"fecha\": \"2026-02-08\",\n  \"hora\": \"16:00\",\n  \"servicio\": \"Corte\",\n  \"barbero\": \"Carlos\",\n  \"requiere_aclaracion\": false,\n  \"mensaje_cliente\": \"¡Listo! Carlos te espera el...\"\n}\n\nSi necesitas aclaración:\n{\n  \"requiere_aclaracion\": true,\n  \"pregunta\": \"¿Te refieres a este sábado o al próximo?\"\n}"
            },
            {
              "role": "user",
              "content": "={{$json.body.messages[0].text.body}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "OpenAI (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi-id",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{JSON.parse($json.message.content).requiere_aclaracion}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3",
      "name": "¿Requiere Aclaración?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"metadata\"][\"phone_number_id\"]}}",
        "recipientPhoneNumber": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"from\"]}}",
        "text": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).pregunta}}"
      },
      "id": "4",
      "name": "Enviar WhatsApp (Aclaración)",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [
        850,
        150
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsAppApi-id",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/citas/validar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer default-n8n-secret-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sucursalId",
              "value": "1dc56deb-f568-421b-b8d1-94fce9acf64a"
            },
            {
              "name": "barberoId",
              "value": "REEMPLAZAR_CON_MAPEO_EN_PRODUCCION"
            },
            {
              "name": "fecha",
              "value": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).fecha}}"
            },
            {
              "name": "hora",
              "value": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).hora}}"
            },
            {
              "name": "duracionMinutos",
              "value": 45
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Triple Validación (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        450
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valido}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6",
      "name": "¿Disponibilidad OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/citas/agendar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer default-n8n-secret-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sucursalId",
              "value": "1dc56deb-f568-421b-b8d1-94fce9acf64a"
            },
            {
              "name": "barberoId",
              "value": "REEMPLAZAR_CON_MAPEO"
            },
            {
              "name": "servicioId",
              "value": "REEMPLAZAR_CON_MAPEO"
            },
            {
              "name": "fecha",
              "value": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).fecha}}"
            },
            {
              "name": "hora",
              "value": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).hora}}"
            },
            {
              "name": "duracionMinutos",
              "value": 45
            },
            {
              "name": "clienteNombre",
              "value": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).nombre}}"
            },
            {
              "name": "clienteTelefono",
              "value": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"from\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Agendar Cita Real",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        350
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"metadata\"][\"phone_number_id\"]}}",
        "recipientPhoneNumber": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"from\"]}}",
        "text": "={{JSON.parse($node[\"OpenAI (GPT-4o)\"].json.message.content).mensaje_cliente}}"
      },
      "id": "8",
      "name": "Confirmar WhatsApp",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [
        1450,
        350
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsAppApi-id",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"metadata\"][\"phone_number_id\"]}}",
        "recipientPhoneNumber": "={{$node[\"Webhook WhatsApp\"].json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"from\"]}}",
        "text": "={{'Lo siento, ese horario no está disponible por la siguiente razón: ' + $node[\"Triple Validación (API)\"].json.mensaje + '. ¿Te gustaría revisar otra hora?'}}"
      },
      "id": "9",
      "name": "Rechazo (Sin Dispo)",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [
        1250,
        550
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsAppApi-id",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "OpenAI (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (GPT-4o)": {
      "main": [
        [
          {
            "node": "¿Requiere Aclaración?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Requiere Aclaración?": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Aclaración)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Triple Validación (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triple Validación (API)": {
      "main": [
        [
          {
            "node": "¿Disponibilidad OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Disponibilidad OK?": {
      "main": [
        [
          {
            "node": "Agendar Cita Real",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazo (Sin Dispo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Real": {
      "main": [
        [
          {
            "node": "Confirmar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
