n8n/workflow_recordatorios_cron.json
{
  "name": "BarberCloud: Recordatorios Diarios (Cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Cron (9 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM citas\nWHERE timestamp_inicio BETWEEN NOW() + INTERVAL '23 hours' AND NOW() + INTERVAL '25 hours'\nAND estado = 'confirmada'\nAND recordatorio_24h_enviado = FALSE"
      },
      "id": "2",
      "name": "Supabase (Fetch Citas de Mañana)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-id",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{$json.cliente_telefono}}",
        "text": "={{ '¡Hola ' + $json.cliente_nombre + '! Te recordamos que tienes una cita mañana en BarberCloud.' }}"
      },
      "id": "3",
      "name": "Envia Confirmaciones (WhatsApp)",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsAppApi-id",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE citas SET recordatorio_24h_enviado = TRUE WHERE id = '{{$json.id}}';"
      },
      "id": "4",
      "name": "Actualizar Status Citas DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-id",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Cron (9 AM)": {
      "main": [
        [
          {
            "node": "Supabase (Fetch Citas de Mañana)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Fetch Citas de Mañana)": {
      "main": [
        [
          {
            "node": "Envia Confirmaciones (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Confirmaciones (WhatsApp)": {
      "main": [
        [
          {
            "node": "Actualizar Status Citas DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
